*Dockerfile*
**/.git
**/build
**/deploy
**/dist
**/pruned
**/out
**/.next
**/.turbo*
**/.env
**/.env.*
!**/.env.ci
!**/.env.test
!**/.env.sample
!**/.env.example
**/.hermes/
!apps/app/.env.development
!apps/app/.env.development.local
!apps/app/.env.staging
!apps/app/.env.production
!apps/agency/.env.development
!apps/agency/.env.development.local
!apps/agency/.env.staging
!apps/agency/.env.production
!apps/auth-client/.env.development
!apps/auth-client/.env.development.local
!apps/auth-client/.env.staging
!apps/auth-client/.env.production
!apps/tower/.env.development
!apps/tower/.env.development.local
!apps/tower/.env.staging
!apps/tower/.env.production
!packages/hermes/distro
!packages/hermes/src/ui/.env.development
!packages/hermes/src/ui/.env.staging
!packages/hermes/src/ui/.env.production
**/.prisma/**
**/dockerfile
**/service-accounts
**/*/*.service-account.json
**/tsconfig.tsbuildinfo
**/coverage
**/node_modules
**/cypress
**/cypress.env.json
**/screenshots
**/serviceAccount.json
**/*.service-account.json
**/storybook-static
**/service-accounts
**/helper_*.sh
/scripts/project*txt

**/.vscode
**/.github
**/.idea
**/.DS_Store
**/.editorconfig
# Ignore generated credentials from google-github-actions/auth
**/gha-creds-*.json

**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions

# This here to avoid the components/flow/build/ route paths and components from being ignored (CO)
# FIXME: Remove this line when the components/flow/build/ is renamed
!**/app/src/**/build
