*Dockerfile*
**/.git
**/dist
**/.next
**/.turbo*
**/.env
**/.env.*
!**/.env.ci
!**/.env.test
!**/.env.sample
!**/.env.example
**/.prisma/**
**/tsconfig.tsbuildinfo
**/coverage
**/node_modules
**/.vscode
**/.github
**/.idea
**/.DS_Store
**/.editorconfig

**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions