import { BetterAuthClientOptions } from "better-auth/client"
import { createAuthClient } from "better-auth/react"

const authClientOptions = {
  baseURL: process.env.NEXT_PUBLIC_APP_URL!,
} satisfies BetterAuthClientOptions

export const authClient = createAuthClient(authClientOptions)