import { defineConfig } from 'drizzle-kit';

export default defineConfig({
  schema: './src/lib/db/schema.ts',
  out: './drizzle/migrations',
  dialect: '__DIALECT__',
  dbCredentials: __DB_CREDENTIALS__,
});
