import { defineConfig } from 'drizzle-kit';

export default defineConfig({
  schema: '__SCHEMA_PATH__',
  out: './drizzle/migrations',
  dialect: '__DIALECT__',
  dbCredentials: __DB_CREDENTIALS__,
});
