// TODO: This is a client template for postgres, but we should support mysql, sqlite, and mongodb as well. We can either add more client templates or make this one more flexible by reading the provider from the schema.prisma datasource and instantiating the appropriate adapter based on that.
import { PrismaPg } from "@prisma/adapter-pg"

import { PrismaClient } from "./.prisma/client.js"

export type CreatePrismaOpts = {
  databaseUrl: string
  nodeEnv?: string
}

type GlobalWithPrisma = typeof globalThis & { __prisma?: PrismaClient }

export const createPrismaClient = (opts: CreatePrismaOpts): PrismaClient => {
  const globalForPrisma = globalThis as GlobalWithPrisma

  if (globalForPrisma.__prisma) {
    return globalForPrisma.__prisma
  }

  const connectionString = opts.databaseUrl
  const schema =
    new URL(connectionString).searchParams.get("schema") ?? "public"
  const adapter = new PrismaPg({ connectionString }, { schema })
  const client = new PrismaClient({ adapter })

  if (opts.nodeEnv !== "production") {
    globalForPrisma.__prisma = client
  }

  return client
}
